<div class="widgets" ng-controller="CompaniesCtrl">
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="Lista firm" ba-panel-class="with-scroll">
        <div class="horizontal-scroll">
  <div class="form-group select-page-size-wrap ">
    <label>Wyników
      <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
              ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
      </select>
    </label>
  </div>
  <table class="table" st-table="smartTableData">
    <thead>
    <tr class="sortable ">
      <th class="table-id" st-sort="id" st-sort-default="true">#</th>
      <th st-sort="firstName">Nazwa</th>
      <th st-sort="lastName">Licencja</th>
      <th st-sort="email">E-mail admina</th>
      <th st-sort="age">Licencja do</th>
      <th st-sort="username">Ostatnie logowanie</th>
    </tr>
    <tr>
      <th></th>
      <th><input st-search="firstName" placeholder="Wyszukaj nazwę" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="lastName" placeholder="Wyszukaj licencje" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="username" placeholder="Wyszukaj po e-mailu" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="email" placeholder="Wyszukaj po dacie licencji" class="input-sm form-control search-input" type="search"/>
      </th>
      <th><input st-search="age" placeholder="Wyszukaj po ostatnim logowaniu" class="input-sm form-control search-input" type="search"/>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in smartTableData">
      <td class="table-id">{{item.id}}</td>
      <td>{{item.firstName}}</td>
      <td>{{item.lastName}}</td>
      <td>{{item.username}}</td>
      <td><a class="email-link" ng-href="mailto:{{item.email}}">{{item.email}}</a></td>
      <td>{{item.age}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6" class="text-center">
        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
      </div>
    </div>
  </div>
</div>